.modal {
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: map-get($zIndex, 'mask');
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 24px;
  opacity: 0;
}

.modal.open {
  display: flex;
  opacity: 1;
}

.modal.open .wrapper {
  animation: openModal .25s ease-out;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  width: 520px;
  max-width: calc(100vw - 32px);
  border-radius: 4px;
  background-color: white;
}

.container {
  @include padding-horizontal(24px);
}

.header,
.body,
.footer {
  @include padding-vertical(16px);
}

/**
 * Header
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid var(--gray-200);

  > .title {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }
}

/**
 * Body
 */
.body {
}

/**
 * Footer
 */
.footer {
  &-template {
    @include gap(16px);

    @supports (-webkit-max-device-pixel-ratio:1) and (min-color-index:0) {
      flex-direction: row-reverse;
    }

    display: flex;
    justify-content: flex-end;
  }
}
