.loading {
  position: fixed;
  z-index: map-get($zIndex, 'loading');
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;

  .loading__progress {
    will-change: width;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    border-radius: 999px;
    background-color: var(--primary-500);
    transform: translate3d(0, 0, 0);
    transition: width .2s ease-in-out;
  }
}
