.tab-list {
  display: flex;
  position: relative;

  .tabs-ink-bar {
    transition: $tab-transition;
    transition-property: width, left;
    position: fixed;
    height: 2px;
    background-color: $primary-500;
  }
}
