.tabs {
  width: 100%;
}

.tab-list {
  display: flex;
  position: relative;
  overflow-x: auto;
  margin-bottom: 1rem;
  border-bottom: thin solid var(--gray-200);

  &::-webkit-scrollbar {
    height: 2px;
  }


  > * {
    outline-offset: -1px;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .tabs-ink-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--primary-500);
    transition: $tab-transition;
    transition-property: width, left;
  }
}
