.menu {
  white-space: nowrap;
  background-color: $white;

  &:hover {
    background-color: $gray-100;
  }

  > a, span {
    padding: .375rem .75rem;
    min-width: 100%;
    display: inline-block;
    cursor: pointer;
  }
}
