.menu {
  white-space: nowrap;
  background-color: var(--white);

  &:hover {
    background-color: var(--gray-100);
  }

  > a,
  span {
    display: inline-block;
    min-width: 100%;
    padding: .375rem .75rem;
    outline-offset: -3px;
    cursor: pointer;
  }
}
