/*------------------------------------*
  # Flex
*------------------------------------*/

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-ver {
  display: flex;
  align-items: center;
}

@mixin flex-center-hor {
  display: flex;
  justify-content: center;
}

/*------------------------------------*
  # Border-radius
*------------------------------------*/

@mixin border-top-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-left-radius: valid-radius($radius);
    border-top-right-radius: valid-radius($radius);
  }
}

@mixin border-bottom-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-bottom-right-radius: valid-radius($radius);
    border-bottom-left-radius: valid-radius($radius);
  }
}

@mixin border-left-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-right-radius: valid-radius($radius);
    border-bottom-right-radius: valid-radius($radius);
  }
}

@mixin border-right-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-right-radius: valid-radius($radius);
    border-bottom-right-radius: valid-radius($radius);
  }
}

/*------------------------------------*
  # Background
*------------------------------------*/

@mixin cover-background($image-src) {
  background-image: url($image-src);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*------------------------------------*
  # Until
*------------------------------------*/

/**
  * aspect-ratio polyfill
  *
*/
@mixin responsive-ratio($x, $y) {
  padding-top: unquote(($y / $x) * 100 + '%');
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  display: $display;
  position: $pos;
  content: $content;
}

@mixin truncate($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin padding-vertical($top, $bottom: false) {
  padding-top: $top;
  @if $bottom == false{
    padding-bottom: $top;
  }
  else {
    padding-bottom: $bottom;
  }
}

@mixin padding-horizontal($left, $right: false) {
  padding-left: $left;
  @if $right == false {
    padding-right: $left;
  } else {
    padding-right: $right;
  }
}

@mixin margin-vertical($top, $bottom: false) {
  margin-top: $top;
  @if $bottom == false {
    margin-bottom: $top;
  } else {
    margin-bottom: $bottom;
  }
}

@mixin margin-horizontal($left, $right: false) {
  margin-left: $left;
  @if $right == false {
    margin-right: $left;
  } else {
    margin-right: $right;
  }
}

/*
 * Using for Retina Screen - x2 Image
 background: url("my-image.png") no-repeat;
 @include retina-image("my-image2x.png", 1000px, 500px);
*/

@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin position-abs($top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;

  @if ($top and $right and $bottom and $left == false) {
    top: $top;
    left: $right;
    right: $right;
    bottom: $bottom;
  } @else if ($top and $right and $bottom == false and $left == false) {
    top: $top;
    bottom: $top;
    left: $right;
    right: $right;
  } @else if ($top and $right == false and $bottom == false and $left == false)
  {
    top: $top;
    right: $top;
    bottom: $top;
    left: $top;
  } @else {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

/*
 * Arrow with border
 * @param {down|up|left|right} $direction
 * @param {Number} $size
 * @param {HEX} $color
*/

@mixin arrow($direction: down, $size: 5px, $color: #555) {
  width: 0;
  height: 0;
  @if ($direction == left) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  } @else if ($direction == right) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if ($direction == down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  } @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
