.toggle {
  appearance: none;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 50px;
  background-color: var(--gray-500);
  pointer-events: none;

  &:checked {
    background-color: var(--primary-500);
  }
}
