.toggle-button {
  display: inline-block;
  position: relative;
  height: 22px;
  width: 40px;
  margin-right: .5rem;
  cursor: pointer;

  > * {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    font-size: .6rem;
    color: white;
  }


  input[type='radio']:checked + .toggle-status {
    transform: translateX(100%);
  }
}

.icon-false {
  right: 6px;
}

.icon-true {
  left: 6px;
}

.toggle-status {
  top: 2px;
  left: 2px;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background-color: white;
  transition: transform .2s ease;
}
