.code-box {
  --border-color: var(--gray-200);

  display: block;
  margin: 0 0 1rem;
  border: thin solid var(--border-color);

  > section {
    @include padding-horizontal(24px);
    @include padding-vertical(12px);
  }

  .component {
    @include padding-vertical(2.5rem, 3rem);

    border-bottom: thin solid var(--border-color);
  }

  .code-highlight {
    position: relative;
    // padding: 0;

    > i {
      position: absolute;
      right: 0;
    }
  }
}
