.breadcrumb {
  .breadcrumb-list {
    display: inline-flex;
    flex-wrap: wrap;

    .breadcrumb-item {
      > a {
        color: var(--primary-500);

        &:hover {
          text-decoration: underline;
          color: var(--primary-700);
        }
      }

      span {
        padding: 0 8px;
      }

      &:last-child {
        a {
          color: inherit;
          cursor: default;

          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }

        span {
          display: none;
        }
      }

      &.active {
        user-select: none;
        touch-action: none;
        pointer-events: none;
      }
    }
  }
}
