.range {
  appearance: none;
  background: transparent none repeat scroll right center;
  height: 40px;
  padding: 0px;
  width: 100%;

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -6px;
    background: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out 0s;
    box-shadow: var(--primary-700) 0px 4px 8px -2px, var(--primary-700) 0px 0px 1px;
  }

  // Background
  &::-moz-range-track {
    border-radius: 2px;
    border: 0px none;
    cursor: pointer;
    height: 4px;
    width: 100%;
    transition: background-color 0.2s ease-in-out 0s;
    background: rgb(235, 236, 240) none repeat scroll 0% 0%;
  }

  &::-moz-range-progress {
    border-radius: 2px;
    border: 0px none;
    cursor: pointer;
    height: 4px;
    width: 100%;
    transition: background-color 0.2s ease-in-out 0s;
    background: var(--primary-500) none repeat scroll 0% 0%;
  }

  &::-moz-range-thumb {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out 0s;
    box-shadow: var(--primary-700) 0px 4px 8px -2px, var(--primary-700) 0px 0px 1px;
  }

  &::-webkit-slider-runnable-track {
    border-radius: 2px;
    border: 0px;
    height: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease-in-out 0s;
    background: linear-gradient(var(--primary-500), var(--primary-500)) 0 / var(--range-inline-width)
      100% no-repeat #ebecf0;
  }
}
