.range {
  appearance: none;
  height: 40px;
  width: 100%;
  padding: 0;
  background: transparent none repeat scroll right center;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    margin-top: -6px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    background: rgb(255 255 255);
    box-shadow: var(--primary-700) 0 4px 8px -2px, var(--primary-700) 0 0 1px;
    transition: border-color .2s ease-in-out 0s;
  }

  // Background
  &::-moz-range-track {
    height: 4px;
    width: 100%;
    border: 0 none;
    border-radius: 2px;
    background: rgb(235 236 240) none repeat scroll 0% 0%;
    cursor: pointer;
    transition: background-color .2s ease-in-out 0s;
  }

  &::-moz-range-progress {
    height: 4px;
    width: 100%;
    border: 0 none;
    border-radius: 2px;
    background: var(--primary-500) none repeat scroll 0% 0%;
    cursor: pointer;
    transition: background-color .2s ease-in-out 0s;
  }

  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    background: rgb(255 255 255) none repeat scroll 0% 0%;
    box-shadow: var(--primary-700) 0 4px 8px -2px, var(--primary-700) 0 0 1px;
    cursor: pointer;
    transition: border-color .2s ease-in-out 0s;
  }

  &::-webkit-slider-runnable-track {
    height: 4px;
    width: 100%;
    border: 0;
    border-radius: 2px;
    background:
      linear-gradient(var(--primary-500), var(--primary-500)) 0 / var(--range-inline-width)
      100% no-repeat #ebecf0;
    cursor: pointer;
    transition: background-color .2s ease-in-out 0s;
  }
}
