/* ------------------------------------*
  # Base
*------------------------------------ */

.badge-container {
  position: relative;
}

.badge {
  vertical-align: middle;
  display: inline-block;
  z-index: map-get($zIndex, 'base');
  min-height: 6px;
  min-width: 6px;
  padding: .1875rem .375rem;
  border-radius: 999px;
  font-size: .9375rem;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  color: var(--gray-800);
  background-color: var(--gray-300);
  isolation: isolate;
}

/* ------------------------------------*
  # Appearance
*------------------------------------ */

.primary {
  color: var(--white);
  background-color: var(--primary-500);
}

.primaryInverted {
  color: var(--primary-500);
  background-color: var(--white);
}

.important,
.danger {
  color: var(--white);
  background-color: var(--error-color);
}

.removed {
  color: var(--white);
  background-color: hsl(347deg 82% 48% / 1000%);
}

.added,
.success {
  color: var(--success-color);
  background-color: var(--success-color-background);
}

.warning {
  color: var(--white);
  background-color: var(--warning-color);
}

.info {
  color: var(--white);
  background-color: var(--info-color);
}

.dot {
  padding: 0;
  color: var(--font-color-invert);
  background-color: hsl(359deg 100% 65%);
}

/* ------------------------------------*
  # Size
*------------------------------------ */

.small {
  padding: .125rem .375rem;
  font-size: .75rem;
}

.large {
  padding: .25rem .5rem;
  font-size: 1.125rem;
}

/* ------------------------------------*
  # Direction
*------------------------------------ */

.left-top,
.top-left,
.top-right,
.right-top,
.right-bottom,
.bottom-right,
.bottom-left,
.left-bottom {
  position: absolute;
}

.left-top,
.top-left {
  top: 0;
  left: 0;
}

.top-right,
.right-top {
  top: 0;
  right: 0;
}

.right-bottom,
.bottom-right {
  right: 0;
  bottom: 0;
}

.bottom-left,
.left-bottom {
  bottom: 0;
  left: 0;
}
