/*------------------------------------*
  # Base
*------------------------------------*/

.badge-container {
  position: relative;
}

.badge {
  display: inline-block;
  vertical-align: middle;

  font-weight: normal;
  line-height: 1;
  font-size: 0.9375rem;

  text-align: center;
  white-space: nowrap;

  background-color: var(--gray-300);
  color: var(--gray-800);

  border-radius: 999px;
  min-width: 6px;
  min-height: 6px;
  padding: 0.1875rem 0.375rem;

  z-index: 9;
}

/*------------------------------------*
  # Appearance
*------------------------------------*/

.primary {
  background-color: var(--primary-500);
  color: var(--white);
}

.primaryInverted {
  background-color: var(--white);
  color: var(--primary-500);
}

.important,
.danger {
  background-color: var(--error-color);
  color: var(--white);
}

.removed {
  color: var(--white);
  background-color: hsla(347, 82%, 48%, 10);
}

.added,
.success {
  background-color: var(--success-color-background);
  color: var(--success-color);
}

.warning {
  background-color: var(--warning-color);
  color: var(--white);
}

.info {
  background-color: var(--info-color);
  color: var(--white);
}

.dot {
  background-color: hsl(359, 100%, 65%);
  color: var(--font-color-invert);
  padding: 0;
}

/*------------------------------------*
  # Size
*------------------------------------*/

.small {
  padding: 0.125rem 0.375rem;
  font-size: 0.75rem;
}

.large {
  font-size: 1.125rem;
  padding: 0.25rem 0.5rem;
}

/*------------------------------------*
  # Direction
*------------------------------------*/

.left-top,
.top-left,
.top-right,
.right-top,
.right-bottom,
.bottom-right,
.bottom-left,
.left-bottom {
  position: absolute;
}

.left-top,
.top-left {
  top: 0;
  left: 0;
}

.top-right,
.right-top {
  top: 0;
  right: 0;
}

.right-bottom,
.bottom-right {
  right: 0;
  bottom: 0;
}

.bottom-left,
.left-bottom {
  bottom: 0;
  left: 0;
}
