/*------------------------------------*
  # Base
*------------------------------------*/

.badge {
  display: inline-block;
  vertical-align: middle;

  font-weight: normal;
  line-height: 1;
  text-align: center;
  font-size: 0.9375rem;
  white-space: nowrap;

  background-color: $gray-300;
  color: $gray-800;

  border-radius: 999px;
  min-width: 6px;
  min-height: 6px;
  padding: 0.1875rem 0.375rem;
}

/*------------------------------------*
  # Appearance
*------------------------------------*/

.primary {
  background-color: $primary-500;
  color: $white;
}

.primaryInverted {
  background-color: $white;
  color: $primary-500;
}

.important,
.danger {
  background-color: $error-color;
  color: $white;
}

.removed {
  color: $error-color;
  background-color: lighten($error-color, 45%);
}

.added,
.success {
  background-color: lighten($success-color, 45%);
  color: $success-color;
}

.warning {
  background-color: $warning-color;
  color: $white;
}

.info {
  background-color: $info-color;
  color: $white;
}

.dot {
  background-color: hsl(359, 100%, 65%);
  padding: 0;
}

/*------------------------------------*
  # Size
*------------------------------------*/

.small {
  padding: 0.125rem 0.375rem;
  font-size: 0.75rem;
}

.large {
  font-size: 1.125rem;
  padding: 0.25rem 0.5rem;
}

/*------------------------------------*
  # Direction
*------------------------------------*/

.left-top,
.top-left,
.top-right,
.right-top,
.right-bottom,
.bottom-right,
.bottom-left,
.left-bottom {
  position: absolute;
}

.left-top,
.top-left {
  top: 0;
  left: 0;
}

.top-right,
.right-top {
  top: 0;
  right: 0;
}

.right-bottom,
.bottom-right {
  right: 0;
  bottom: 0;
}

.bottom-left,
.left-bottom {
  bottom: 0;
  left: 0;
}
