$zIndex: 10;
.sidebar {
  z-index: $zIndex;
  width: 0;
  position: fixed;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  border-right: thin solid var(--gray-100);
  background-color: var(--background-menu);


  @include desktop {
    width: var(--nav-width);
    min-width: var(--nav-width);
    max-width: var(--nav-width);
    position: static;
  }

  & ul {
    z-index: $zIndex + 1;
    overflow-y: auto;
    height: 100vh;
    background-color: inherit;

    @include desktop {
      overflow-y: unset;
      height: unset;
    }
  }

  &.open {
    width: 17rem;
  }



  .nav-item {
    display: block;
    padding: 0.5rem 1.25rem 0.5rem 2rem;
    user-select: none;

    &:hover,
    &.active {
      color: var(--primary-500);
      background-color: var(--primary-100);
    }
    &.active {
      border-right: 0.1875rem solid var(--primary-500);
      @include disable-action;
    }
  }
}

.aside-burger {
  --size: 24px;
  touch-action: manipulation;
  --burger-color: var(--gray-500);

  @include size(var(--size));
  background-color: var(--primary-800);
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  padding: 1.5rem;
  border-radius: 100%;

  @include desktop {
    display: none;
  }

  .icon-menu {
    transition-duration: 0.5s;
    position: absolute;
    height: calc(var(--size) / 12);
    width: calc(var(--size) - 6px);
    background-color: var(--burger-color);

    &::after,
    &::before {
      @include absolute;
      left: 0;
      height: calc(var(--size) / 12);
      width: calc(var(--size) - 6px);
      background-color: var(--burger-color);
      transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &::before {
      top: 5px;
    }
    &::after {
      top: -5px;
    }
  }
  &.open .icon-menu {
    background-color: transparent;
    &::after,
    &::before {
      top: 0;
      transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
