$zIndex: map-get($zIndex, 'sidebar');

.sidebar {
  @include desktop {
    position: static;
    min-width: var(--nav-width);
    width: var(--nav-width);
    max-width: var(--nav-width);
  }

  position: fixed;
  overflow: visible;
  z-index: $zIndex;
  // top: 2.5rem;
  bottom: 0;
  width: 0;
  border-right: thin solid var(--gray-100);
  background-color: var(--background-menu);
  transition: width .3s ease-in-out;

  & ul {
    @include desktop {
      visibility: visible;
      overflow-y: unset;
      height: unset;
    }

    visibility: hidden;
    // position: absolute;
    overflow-y: auto;
    z-index: $zIndex + 1;
    bottom: 0;
    height: calc((100vh - 4.5rem) + env(safe-area-inset-bottom));
    width: 100%;
    // padding-bottom: calc(1rem + constant(safe-area-inset-bottom));
    // padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    background-color: inherit;
    isolation: isolate;
  }

  &.open ul {
    visibility: visible;
  }

  &.open {
    width: 17rem;
  }


  .nav-item {
    display: block;
    padding: .5rem 1.25rem .5rem 2rem;
    -webkit-user-select: none;

    &:hover,
    &.active {
      color: var(--primary-500);
      background-color: var(--primary-100);
    }

    &.active {
      @include disable-action;

      border-right: .1875rem solid var(--primary-500);
    }
  }
}

.aside-burger {
  --size: 24px;
  --burger-color: var(--gray-500);

  @include size(var(--size));

  @include desktop {
    display: none;
  }

  touch-action: manipulation;
  display: flex;
  position: fixed;
  z-index: $zIndex;
  right: 20px;
  bottom: calc(20px + env(safe-area-inset-bottom));
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 100%;
  background-color: var(--primary-800);
  cursor: pointer;
  transform: translate3d(0, 0, 0);

  .icon-menu {
    position: absolute;
    height: calc(var(--size) / 12);
    width: calc(var(--size) - 6px);
    background-color: var(--burger-color);
    transition-duration: .5s;

    &::after,
    &::before {
      @include absolute;

      left: 0;
      height: calc(var(--size) / 12);
      width: calc(var(--size) - 6px);
      background-color: var(--burger-color);
      transition:
        top .3s .3s cubic-bezier(.23, 1, .32, 1),
        transform .3s cubic-bezier(.23, 1, .32, 1);
    }

    &::before {
      top: 5px;
    }

    &::after {
      top: -5px;
    }
  }

  &.open .icon-menu {
    background-color: transparent;

    &::after,
    &::before {
      top: 0;
      transition:
        top .3s cubic-bezier(.23, 1, .32, 1),
        transform .3s .3s cubic-bezier(.23, 1, .32, 1);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
