.dropdown {
  position: relative;
}

// .title {
//   position: relative;
// }

.dropdown-container {
  @include margin-vertical(0.5rem);

  position: absolute;
  overflow-y: auto;
  opacity: 0;
  z-index: 10;

  border-radius: 8px;

  background-color: $white;

  box-shadow: $shadow-drop;
}
