.dropdown {
  // position: relative;
}

// .title {
//   position: relative;
// }

.dropdown-container {
  @include margin-vertical(.5rem);

  position: absolute;
  overflow-y: auto;
  z-index: map-get($zIndex, 'dropdown');
  border-radius: 8px;
  opacity: 0;
  color: var(--font-color);
  background-color: var(--white);
  box-shadow: var(--shadow-drop);

  &.right {
    right: 0;
    text-align: right;
  }

  &.left {
    left: 0;
    text-align: left;
  }
}
