.ripple {
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: background 400ms cubic-bezier(0, 0, .2, 1);
}

.span-ripple {
  position: absolute;
  border-radius: 50%;
  opacity: .6;
  background-color: var(--black-600);
  transform: scale(0);
  animation: ripple 700ms;
}

.ripple.dark .span-ripple {
  background-color: var(--white-600);
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
