html,
html[theme='light'] {
  .table {
    --border-color: #eee;
    --tr-color: #f5f5f5;
    --tr-mobile-color: #f2f2f2;
  }
}

html[theme='dark'] {
  .table {
    --border-color: #333;
    --tr-color: #444;
    --tr-mobile-color: #333;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);

  thead {
    tr {
      background-color: var(--tr-color);

      th {
        text-transform: capitalize;
        white-space: nowrap;
        padding: 8px;
      }
    }
  }

  td, th {
    border-bottom: 1px solid var(--border-color);
    padding: .5rem;
  }

  tr:hover {
    background-color: var(--tr-color);
  }

  @include mx-tablet-land {
    thead {
      display: none;
    }

    tr {
      display: block;
      margin-bottom: 6px;
    }

    td {
      display: block;
      position: relative;
      padding-left: 130px;
      text-align: left;
      border-bottom: 0;

      &::before {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: var(--tr-mobile-color);
        padding: 0 6px;
        font-weight: 500;
      }

    }
  }
}

