// <= 420px
@mixin small-mobile {
	@media only screen and (max-width: 26.25rem) {
		@content;
	}
}

.table {
	width: 100%;
	border: thin solid var(--border-color);
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;

	thead {
		@include mx-tablet-land {
			display: none;
		}

		tr {
			background-color: var(--tr-color);

			th {
				text-transform: capitalize;
				white-space: nowrap;
				padding: 8px;
			}
		}
	}

	td,
	th {
		border-bottom: thin solid var(--border-color);
		padding: 0.5rem;
	}

	tr {
		&:hover {
			background-color: var(--tr-color);
		}

		@include mx-tablet-land {
			display: block;
			border-bottom: thin solid var(--border-color);

			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.heading-mobile {
		display: none;

		@include mx-tablet-land {
			display: inline-block;
			flex-grow: 1;
			padding-right: 24px;
			max-width: 40%;
			flex-basis: 40%;
			min-width: 120px;

			font-size: 0.8em;
			font-weight: 700;
			text-transform: capitalize;
		}

		@include small-mobile {
			max-width: 80%;
			flex-basis: 80%;
		}
	}

	td {
		@include mx-tablet-land {
			$gap: 12px;

			position: relative;
			// padding-left: 130px;
			text-align: left;
			border-bottom: 0;
      width: unset;

			display: flex;
			align-items: center;
			flex-wrap: wrap;
			word-break: break-word;

			&:first-child {
				padding-top: $gap;
			}
			&:last-child {
				padding-bottom: $gap;
			}

			.content {
				flex-grow: 1;
				max-width: 60%;
				flex-basis: 60%;
				line-height: 2;
			}
		}

		@include small-mobile {
			.content {
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}
}
