.header {
  position: sticky;
  z-index: 9;
  top: 0;
  background-color: var(--background-menu);
  box-shadow: var(--shadow-s);

  > .container {
    padding: 0 1.25rem;
    height: 4.5rem;
    min-height: 4.5rem;
    max-height: 4.5rem;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;

  .menu {
    cursor: pointer;
    font-size: 1.4rem;

    @include desktop {
      display: none;
    }
  }
}

.nav-list {
  display: none;
  padding: 0;
  width: max-content;
  z-index: 10;
  margin-left: auto;
  background-color: var(--background-menu);
  box-shadow: var(--shadow-ms);
  border-radius: 0.25rem;
  white-space: nowrap;
  user-select: none;

  &.open {
    display: block;
    @include desktop {
      display: flex;
    }
  }

  @include desktop {
    display: flex;
    margin: 0;
    box-shadow: none;

    > li + li {
      margin-left: 3rem;
    }
  }

  > li > * {
    display: block;
    padding: 0.5rem 1.5rem;
    position: relative;

    &:first-child {
      padding-top: 1.25rem;
    }
    &:last-child {
      padding-bottom: 1.25rem;
    }

    @include desktop {
      &:first-child,
      &:last-child {
        padding: 0;
      }
    }
  }
}

.active {
  background-color: var(--gray-100);
  @include disable-action;
  @include desktop {
    background-color: transparent;
  }

  &::after {
    @include absolute;
    top: 0;
    right: 1px;
    @include size(2px, 100%);
    background-color: var(--primary-500);

    @include desktop {
      left: 0;
      top: 190%;
      @include size(100%, 2px);
      transform: translateY(-100%);
    }
  }
}

.language {
  cursor: pointer;
}
