.header {
  position: sticky;
  z-index: map-get($zIndex, 'header');
  top: 0;
  background-color: var(--background-menu);
  box-shadow: var(--shadow-s);

  > .container {
    min-height: 4.5rem;
    height: 4.5rem;
    max-height: 4.5rem;
    padding: 0 1.25rem;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  padding: .75rem 0;
  padding-right: 0;

  > a {
    margin-right: auto;
  }

  .menu {
    font-size: 1.4rem;
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }
}

.nav-list {
  display: none;
  z-index: map-get($zIndex, 'modal');
  width: max-content;
  margin-left: auto;
  padding: 0;
  border-radius: .25rem;
  white-space: nowrap;
  user-select: none;
  background-color: var(--background-menu);
  box-shadow: var(--shadow-ms);
  isolation: isolate;

  &.open {
    display: block;

    @include desktop {
      display: flex;
    }
  }

  @include desktop {
    display: flex;
    align-items: center;
    margin: 0;
    box-shadow: none;

    > li + li {
      margin-left: 3rem;
    }
  }

  > li > * {
    display: block;
    position: relative;
    padding: .5rem 1.5rem;

    &:first-child {
      padding-top: 1.25rem;
    }

    &:last-child {
      padding-bottom: 1.25rem;
    }

    @include desktop {
      &:first-child,
      &:last-child {
        padding: 0;
      }
    }
  }
}

.active {
  background-color: var(--gray-100);

  @include disable-action;

  @include desktop {
    background-color: transparent;
  }

  &::after {
    @include absolute;

    top: 0;
    right: 1px;

    @include size(2px, 100%);

    background-color: var(--primary-500);

    @include desktop {
      top: 190%;
      left: 0;
      transform: translateY(-100%);

      @include size(100%, 2px);
    }
  }
}

.language {
  cursor: pointer;
}
