.checkbox {
  display: inline-flex;
  padding: .5em;

  input[type='checkbox'] {
    display: none;
    pointer-events: none;

    & + label {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover,
      &:focus {
        svg {
          stroke: var(--primary-500);
        }
      }

      svg {
        stroke: var(--black-400);
        fill: white;
        transition: stroke .2s ease-in;
        stroke-width: 5;

        .box {
          will-change: stroke-dashoffset;
          fill: white;
          transition: stroke-dashoffset .3s linear;
          stroke-dasharray: 320;
          stroke-dashoffset: 0;
        }

        .check {
          will-change: stroke-dashoffset;
          fill: none;
          transition: stroke-dashoffset .3s linear;
          stroke-dasharray: 70;
          stroke-dashoffset: 70;
        }
      }

      span {
        @include padding-horizontal(8px);
      }
    }

    &:checked + label {
      svg {
        stroke: var(--primary-500);
      }

      .box {
        stroke-dashoffset: 320;
      }

      .check {
        stroke-dashoffset: 0;
      }
    }
  }
}

.checkbox.disabled {
  opacity: .5;
  cursor: not-allowed;

  > label {
    pointer-events: none;
  }
}

$sizes: (
  small: 16px,
  medium: 24px,
  large: 32px,
  xlarge: 48px
);

.checkbox {
  @each $size, $value in $sizes {
    &.#{$size} {
      svg {
        width: $value;
      }
    }
  }
}
