.icon {
  font-size: 24px;
}

.icon.rotate {
  &-90 {
    transform: rotate(90deg);
  }

  &-180 {
    transform: rotate(180deg);
  }

  &-270 {
    transform: rotate(270deg);
  }
}

.icon.flip {
  &-horizontal {
    transform: scaleX(-1);
  }

  &-vertical {
    transform: scaleY(-1);
  }

  &-both {
    transform: scaleX(-1) scaleY(-1);
  }
}

.icon.animation {
  &-spin {
    animation: spin 1s linear infinite;
  }

  &-spin-reverse {
    animation: spin-reverse 1s linear infinite;
  }

  &-pulse {
    animation: spin 1s steps(8) infinite;
  }

  &-fade {
    animation: fade 1s linear infinite;
  }

  &-beat {
    animation: beat 1s linear infinite;
  }

  &-bounce {
    animation: bounce 1s cubic-bezier(.28, .84, .42, 1) infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fade {
  50% {
    opacity: .4;
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-.5em);
  }

  50% {
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    transform: scale(1) translateY(-.125em);
  }

  64% {
    transform: scale(1) translateY(0);
  }

  to {
    transform: scale(1) translateY(0);
  }
}
