.pagination {
}

.pageNumber {
  list-style: none;
  display: flex;

  > li {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    min-width: 32px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;

    & + li {
      margin-left: .5rem;
    }

    &.active,
    &:hover {
      border-color: var(--primary-500);
      color: var(--primary-500);
    }

    &.ellipsis {
      border-color: transparent;
      opacity: .25;

      &:hover {
        opacity: 1;
        color: var(--primary-500);
      }
    }

    a {
      display: block;
      padding: 0 6px;
    }
  }
}

.ellipsis {
  .next,
  .prev {
    display: none;
  }
}

.ellipsis:hover {
  .next,
  .prev {
    display: block;
  }

  .dot {
    display: none;
  }
}
