.radio {
  display: inline-flex;
  align-items: center;
  color: var(--font-color);
  cursor: pointer;

  &:focus-within .label {
    opacity: 1;
  }

  input {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}

.radio-input {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    &:checked + .radio-control {
      &::after {
        transform: scale(.6);
      }
    }

    & + .radio-control::before {
      content: '';
      height: .5em;
      width: .5em;
      border-radius: 50%;
      box-shadow: inset .5em .5em var(--primary-500);
      transform: scale(0);
      transition: .25s transform ease-in-out;
    }

    &:checked + .radio-control::before {
      transform: scale(1);
    }

    &:focus + .radio-control {
      box-shadow: 0 0 3px var(--primary-500);
    }
  }

  .radio-control {
    display: block;
    height: 1em;
    width: 1em;
    border: thin solid var(--secondary-500);
    border-radius: 50%;
    transform: translateY(-0);

    &::after {
      @include position-abs(0);

      border-radius: 50%;
      background-color: var(--primary-500);
      transform: scale(0);
      transition: transform .25s cubic-bezier(.78, .14, .15, .86);
    }
  }
}

.label {
  padding: 0 8px;
  line-height: 1;
  opacity: .8;
  transition: .25s all ease-in-out;
}

/**
 * Disabled
 */
.radio.disabled {
  opacity: .5;
  cursor: not-allowed;

  * {
    pointer-events: none;
  }

  .radio-control {
    border-color: var(--font-color);
  }
}

/**
 * Chips Radio
 */

.radio.chips {
  --checked-color: var(--black-400);

  input:checked + .label {
    --checked-color: var(--primary-500);

    opacity: 1;
  }

  .label {
    padding: 8px 16px;
    border: thin solid var(--checked-color);
    border-radius: 999px;
    color: var(--checked-color);
  }
}


/**
 * Radio Group
 */

.radio-group {
  @include gap(8px);

  display: flex;
}
