.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 1.5vmin);
  border: none;
  border-radius: 1000px;
  padding: 14px 16px;
  color: #4f4f4f;
  background: #f1f1f1;

  &:hover {
    background-color: lighten(#f1f1f1, 5%);
  }
  &:active {
    background-color: darken(#f1f1f1, 5%);
  }

}
