picture {
  min-width: 100%;
  max-width: 100%;
  display: block;
}
picture .img {
  opacity: 0;
  // animation: fade-loading 0.3s forwards ease-out;
}

.img {
  user-select: none;
  width: 100%;
  background-color: var(--gray-300);
}

.loaded {
  opacity: 1;
}

svg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
