picture {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

picture .img {
  opacity: 0;
  // animation: fade-loading 0.3s forwards ease-out;
}

.img {
  width: 100%;
  user-select: none;
  background-color: var(--gray-300);
}

.loaded {
  opacity: 1;
}

svg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
