
.nav {
  width: 17rem;

  .nav-item {
    display: block;
    padding: .5rem 1.25rem .5rem 2rem;
  }
  .nav-item:hover,
  .nav-item.active {
    color: $primary-500;
    background-color: $primary-100;
  }
}
