@import '~/styles/index';

body {
  min-height: 100vh;

  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); /* iOS >= 11.2 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @support (padding-top: constant(safe-area-inset-top)) {
  //   padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left); /* iOS < 11.2 */
  // }
}

// @supports (padding-top: env(safe-area-inset-top)) {
//   body {
//     height: calc(100% + var(--sat));
//   }
// }

@media (display-mode: fullscreen) {
  body {
    height: 100%;
    padding: 0;
  }
}

@media (display-mode: standalone) {
  body {
    height: 100%;
    padding: 0;
  }
}

.main-container {
  display: flex;

  #main {
    width: 100%;
    padding: 3rem 1.25rem;

    @include desktop {
      width: calc(100% - var(--nav-width));
      padding-left: 5rem;
    }
  }
}

.fade {
  &-enter {
    opacity: 1;
    transform: translateY(0);
  }

  &-enter-active {
    opacity: 0;
    transform: translateY(-4px);
    transition: 250ms ease-out;
    transition-property: opacity, transform;
  }

  &-exit {
    opacity: 0;
    transform: translateY(4px);
  }

  &-exit-active {
    opacity: 1;
    transform: translateY(0);
    transition: 250ms ease-in;
    transition-property: opacity, transform;
  }
}

// .fade {
//   &-enter {
//     opacity: 0;
//     // transform: translateY(0);
//   }

//   &-enter-active {
//     opacity: 1;
//     // transform: translateY(4px);
//     transition: opacity 200ms ease-out, width 200ms ease-out;
//   }
// }

.transition-group {
  width: 100%;
}
