@import '~/styles/index';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;

  #main {
    width: 100%;
    padding: 3rem 1.25rem;

    @include desktop {
      width: calc(100% - var(--nav-width));
      padding-left: 5rem;
    }
  }
}

.fade {
  &-enter {
    opacity: 0;
    transform: translateY(4px);
  }

  &-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 250ms ease-out;
  }

  &-exit {
    opacity: 1;
    transform: translateY(0);
  }

  &-exit-active {
    opacity: 0;
    transform: translateY(-4px);
    transition: all 250ms ease-in;
  }
}

.transition-group {
  width: 100%;
}
