/*------------------------------------*
  # Scrollbar
*------------------------------------*/

:root {
  // Support Firefox
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}
@include isFirefox() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }
}

// Support Chrome
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: transparent;
  border-color: transparent;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
  border-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 8px;
  :hover {
    background: var(--scrollbar-hover-color);
  }
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/**
 * Color selector
 */

::selection {
  color: hsl(0, 0%, 99%);
  background: hsl(209, 100%, 78%);
}
::-moz-selection {
  color: hsl(0, 0%, 99%);
  background: hsl(209, 100%, 78%);
}

@include isDarkMode() {
  ::selection{
    color: hsl(0, 0%, 99%);
    background: #b25900;
  }
  ::-moz-selection {
    color: hsl(0, 0%, 99%);
    background: #b25900;
  }
}

// Support Safari
// ::-webkit-scrollbar-corner, ::-webkit-scrollbar-corner:horizontal, ::-webkit-scrollbar-corner:vertical {
//   background: $gray-500;
// }

// body[theme='dark'] {
//   &::-webkit-scrollbar-thumb {
//     background: $gray-700;
//     &:hover {
//       background: $gray-500;
//     }
//   }
// }

html {
  background-color: var(--background-html);
  transition: background-color 0.2s ease-in-out;
}

.container {
  @include padding-horizontal(2.5rem);
  @include margin-horizontal(auto);
  max-width: 1200px;
}

.container-fluid {
  @include padding-horizontal(1.5rem);
}

// Sizes
html {
  --xxsmall: 16px;
  --xsmall: 20px;
  --small: 24px;
  --medium: 32px;
  --large: 40px;
  --xlarge: 96px;
  --xxlarge: 128px;
  --nav-width: 17rem;
}
