$appearances: (
  '': (
    'background': #dfe1e6,
    'color': #42526e,
  ),
  '.bold': (
    'background': #42526e,
    'color': #fff,
  ),
  '.success': (
    'background': #e3fcef,
    'color': #064,
  ),
  '.success.bold': (
    'background': #00875a,
    'color': #fff,
  ),
  '.removed': (
    'background': #ffebe6,
    'color': #bf2600,
  ),
  '.removed.bold': (
    'background': #de350b,
    'color': #fff,
  ),
  '.inprogress': (
    'background': #deebff,
    'color': #0747a6,
  ),
  '.inprogress.bold': (
    'background': #0052cc,
    'color': #fff,
  ),
  '.new': (
    'background': #eae6ff,
    'color': #403294,
  ),
  '.new.bold': (
    'background': #5243aa,
    'color': #fff,
  ),
  '.moved': (
    'background': #fff0b3,
    'color': #172b4d,
  ),
  '.moved.bold': (
    'background': #ff8b00,
    'color': #172b4d,
  ),
);

.lozenge {
  @each $appearance, $value in $appearances {
    &#{$appearance} {
      color: map-get($value, 'color');
      background-color: map-get($value, 'background');
    }
  }

  vertical-align: baseline;
  display: inline-block;
  overflow: hidden;
  max-width: 200px;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
